:root {
  --clr-grey: rgb(234, 231, 225);
  --clr-grey-dark: rgb(156, 155, 151);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --nav-bar-height: 2.5rem;
  --font-weight-thick: 900;
  --font-sans: "DM Serif Text", sans-serif;
  --font-mono: "Roboto", monospace;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: var(--font-sans);
  line-height: 1.5;
}

section::before {
  content: "";
  display: block;
  height: var(--nav-bar-height);
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0 10px;
  }
}

h1 {
  color: #0f141e;
  font-size: 3rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 350px), (max-height: 500px) {
  h1 {
    font-size: 2rem;
  }
}
.fab,
.fas {
  padding: 0 2rem 1rem 2rem;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-black);
}

.fab:hover,
.fas:hover {
  opacity: 0.7;
}

/*
=============== 
Header - Navigation bar
===============
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--clr-white);
  opacity: 0.95;
  z-index: 10; /* puts nav bar on top of skewed hero section*/
}
.nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.nav__sidebar {
  position: fixed;
  background: var(--clr-black);
  color: var(--clr-white);
  top: 0;
  bottom: 0;
  right: 0;
  left: 50vw;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

@media only screen and (max-width: 600px) {
  .nav__sidebar {
    left: 0; /*navigation side bar will take the whole screen on phones */
  }
}

#nav__close-layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: 99;
}

.nav-open #nav__close-layer {
  opacity: 0.8;
  transition: opacity 0.2s ease(0);
}

.nav__list {
  padding: 44px 48px;
  height: 100%;
}

.nav__list::after {
  margin-top: 20px;
  border-top: 4px solid #fff;
  content: "";
  display: block;
  margin-bottom: 40px;
  width: 180px;
}

.nav__link h1 {
  color: var(--clr-white);
}

.nav__link h1:hover {
  color: var(--clr-grey-dark);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
  outline: none;
}

.nav-open .nav {
  visibility: visible;
}

.nav-open .nav__sidebar {
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: var(--clr-white);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: var(--clr-white);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block; /* by default it's in-line because it's a span */
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-black);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger:hover {
  background: var(--clr-grey-dark);
}
.hamburger:hover::before {
  background: var(--clr-grey-dark);
}
.hamburger:hover::after {
  background: var(--clr-grey-dark);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.logo {
  line-height: 1;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
  text-align: center;
  font-size: 30px;
}

.nav-list li {
  width: 200px;
}

/*
=============== 
Hero section
===============
*/
#hero {
  height: 100vh;
  color: var(--clr-black);
  background-image: linear-gradient(
    to right,
    var(--clr-white),
    rgba(0, 0, 0, 0)
  );
}

#hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large-header {
  color: var(--clr-black);
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
  .large-header {
    font-size: 4.5rem;
  }
}

.hero-text-area {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

.hero-text-area::after {
  content: "";
  position: absolute;
  background: var(--clr-grey);
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
}

@media only screen and (max-width: 350px) and (max-height: 500px) {
  .hero-text-area::after {
    height: 5%;
  }
}

.hero-text p {
  margin-top: 20px;
  max-width: 500px;
}

.hero__links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

@media only screen and (max-height: 400px) {
  .hero-text p {
    margin-top: 5px;
  }
  .hero__links {
    margin-top: 5px;
  }
}

.hero__link {
  font-size: 1.25rem;
  font-weight: var(--font-weight-thick);
  border-bottom: 0.25rem solid transparent;
}
.hero__link:hover {
  border-color: var(--clr-black);
}

.hero-img {
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform: translateY(50%);
  height: 80%;
  z-index: -1;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .hero-img {
    display: none;
  }
}

/*
=============== 
About section
===============
*/

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text-container {
  width: 60%;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 40%;
}
.about-img {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .about-text-container {
    width: 100%;
  }
  .about-img-container {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

/*
=============== 
Portfolio section
===============
*/
.projects-list {
  display: flex;
  justify-content: space-between;
  margin: 1rem -0.5rem 0 -0.5rem; /*negative margin to compensate project-card margins*/
}

/*.project-card {
  width: 350px;
  height: 500px;
  margin: 1rem 0.5rem;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}*/

.project-card {
  width: 350px;
  height: 450px;
  margin: 1rem 0.5rem;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

@media only screen and (max-width: 600px) {
  .projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
  }
  .project-card {
    width: 100%;
    margin: 0.5rem 0.25rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    width: calc(50% - 1rem);
  }
}

.project-card:hover {
  box-shadow: var(--dark-shadow);
}

.project-card img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.project-card footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 60%;
}

.project-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.project-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-thick);
}
.project-languages {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.project-badge {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--clr-grey-dark);
  background: var(--clr-grey);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  margin-right: 1rem;
}

.project-card p {
  text-align: justify;
  text-justify: inter-word;
}

.project-buttons {
  display: flex;
  justify-content: space-around;
}

.project-link {
  text-align: center;
  width: 120px;
  margin: 1rem auto 0 auto;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  border: 1px solid var(--clr-black);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

.project-link:hover {
  border: 1px solid var(--clr-grey-dark);
  color: var(--clr-grey-dark);
}

/*
=============== 
Contact section
===============
*/
#contact {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 1rem;
}

.contact-btn {
  display: inline-block;
  text-align: center;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  border: 1px solid var(--clr-black);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.contact-btn:hover {
  border: 1px solid var(--clr-red-dark);
  color: var(--clr-red-dark);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 300px) {
  .social-list {
    display: flex;
    flex-direction: column;
  }
}

/*
=============== 
Footer section
===============
*/

.footer {
  text-align: center;
  font-size: 0.75rem;
}
